$font-xs: calc(0.8rem + 0.4vw);
$font-sm: calc(1rem + 0.4vw);
$font-md: calc(1.2rem + 0.4vw);
$font-lg: calc(1.4rem + 0.4vw);
$font-xl: calc(1.6rem + 0.4vw);
$font-2xl: calc(1.8rem + 0.4vw);
$font-3xl: calc(2rem + 0.4vw);
$font-4xl: calc(2.2rem + 0.4vw);
$font-5xl: calc(2.4rem + 0.4vw);
$font-6xl: calc(2.6rem + 0.4vw);
$font-7xl: calc(2.8rem + 0.4vw);
$font-8xl: calc(3rem + 0.4vw);
