@use "../Base/fontSizes" as font;

.header {
  position: sticky;
  top: 0;
  height: 8rem;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  background-color: white;
  .container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &-title {
    font-size: font.$font-6xl;
    text-decoration: none;
    color: gray;

    &:hover {
      color: black;
    }
  }
}
