@use "../Base/fontSizes" as font;

.create-question {
  &-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &-title {
      font-size: font.$font-3xl;
      font-weight: bold;
      margin-top: 5rem;
      margin-bottom: 3rem;
    }

    &-content {
      width: 50%;
      min-width: 30rem;
    }
  }
}
